
body{
    background-color: white;
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
    
}
  
span.moderate{
    padding: 3px;
    background-color: yellow;
    color: black;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}