
body{
    background-color: white;
}

.fair {
    background-color:green ;
    color: white;
}
  
.mod {
    background-color: yellow;
    color: white;
}
  
.severe {
    background-color: red;
    color: white;
}